@charset "utf-8";
/* CSS Document */
@keyframes run{
	0%{ opacity:0; transform:translateY(50px);}	
	100%{ opacity:1; transform:translateY(0);}
}
.banner{background:url(../images/slide_3.jpg) no-repeat center top / cover;height:100%;position:relative;}
.b_inner{width:1140px;margin:0 auto;}
.b_inner .text{width:920px;height:243px;position:absolute;left:0; right:0; top:0; bottom:0;margin:auto;text-align:center;animation:run 1s;}
.b_inner .text h2{font-size:70px;color:#fff;font-weight:900;margin-bottom:25px;}
.b_inner a{width:188px;height:64px;color:#fff;border-radius:30px;display:inline-block;margin-top:18px;line-height:64px; background-color:#27e1ce;font-size:24px;}
.two{width:1140px;margin:0 auto;}
.two .top{text-align:center;padding-top:90px;width:550px;margin:0 auto;}
.two .top h3{font-size:30px;line-height:68px;}
.two .top p{font-size:16px;line-height:26px;color:#7f7f7f;}
.two .bot{padding-bottom:132px;margin-top:31px;}
.two .list{float:left;position:relative;}
.two .mid{margin:0 28px;}
.two .list i{position:absolute;top:29px;left:0;font-size:40px;color:#27e1d3;}
.two .list .b_text{width:291px;padding-left:70px;}
.two .list .b_text h4{font-size:20px;line-height:81px;}
.two .list .b_text p{font-size:15px;line-height:26px;color:#7f7f7f;}
.three{background:#f7f7f7;}
.three .top{padding-top:89px;text-align:center;width:550px;margin:0 auto;}
.three .top h3{font-size:30px;line-height:70px;}
.three .top p{font-size:16px;line-height:26px;margin-bottom:60px;color:#7f7f7f;}
.three .bot{padding-bottom:139px;text-align:center;}
.three .bot .pic_list a{width:360px;height:477px;background:#fff;float:left;margin-bottom:50px;position:relative;top:0;box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);transition:all 0.5s}
.three .bot .pic_list .mid{margin:0 29px;}
.three .bot .pic_list .pic{width:100%;height:300px; overflow:hidden;}
.three .bot .pic_list .pic img{width:100%;height:100%;transition:all 0.5s;}
.three .bot .pic_list a h4{height:50px;line-height:50px;padding-top:37px;font-size:20px;color:#000;}
.three .bot .pic_list a p{height:50px;line-height:50px;font-size:14px;color:#b2b2b2;color:#7f7f7f;}
.three .bot .pic_list a:hover{top:-3px;box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);}
.three .bot .pic_list a:hover img{transform:scale(1.1);}
.three .bot .btn a{padding:0 22px;height:43px;line-height:43px;display:inline-block;background:#27e1ce;border-radius:30px;font-size:16px;color:#fff; transition:all 0.3s; position:relative;}
.three .bot .btn a i{position:absolute;right:19px;top:0;line-height:43px; opacity:0;transition:all 0.3s;}
.three .bot .btn a:hover{padding-right:50px;}
.three .bot .btn a:hover i{opacity:1;}
.four{width:1140px;margin:0 auto;text-align:center;padding-bottom:140px;}
.four .top{padding-top:89px;width:550px;margin:0 auto;}
.four .top h3{font-size:30px;line-height:70px;}
.four .top p{font-size:16px;line-height:26px;margin-bottom:58px;color:#7f7f7f;}
.four .photo{width:120px;height:120px; display:inline-block; }
.four .photo img{width:100%;height:100%;border-radius:50%;}
.four .bot{width:72%;margin:0 auto;}
.four .bot p{font-size:20px;color:#000;line-height:32px;margin-top:38px;}
.four .bot span{line-height:92px;height:92px;display:block;font-size:18px;}
.four .bot span a{color:#3de3d2;}
.four .bot span a:hover{text-decoration:underline;}
.five{background:#f7f7f7;padding-bottom:139px;}
.five .top{padding-top:89px;width:550px;margin:0 auto;text-align:center;}
.five .top h3{font-size:30px;line-height:70px;}
.five .top p{font-size:16px;line-height:26px;margin-bottom:58px;color:#7f7f7f;}
.five .f_bot a{width:555px;height:684px;background:#FFF;float:left;position:relative;top:0;box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);transition:all 0.5s}
.five .f_bot a:hover{top:-3px;box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);}
.five .one{margin-right:30px;}
.five .pic_bg{background:url(../images/image_1.jpg) no-repeat;height:400px;width:100%;background-size:cover;}
.five .two{background-image:url(../images/image_2.jpg)}
.five .f_text{padding:0 30px;}
.five .f_text h4{font-size:20px;padding-top:52px;color:#000;line-height:21px;height:21px;}
.five .f_text time{font-size:14px;color:#b2b2b2;line-height:76px;height:76px;}
.five .f_text p{font-size:16px;color:#80838a;line-height:25px;}
.five .btn{text-align:center; padding-top:48px;}
.five .btn a{padding:0 22px;height:43px;line-height:43px;display:inline-block;background:#27e1ce;border-radius:30px;font-size:16px;color:#fff; transition:all 0.3s; position:relative;}
.five .btn a i{position:absolute;right:19px;top:0;line-height:43px; opacity:0;transition:all 0.3s;}
.five .btn a:hover{padding-right:50px;}
.five .btn a:hover i{opacity:1;}
.six{text-align:center;background-color:#fcfcfc;}
.six .top{padding-top:89px;width:550px;margin:0 auto;}
.six .top h3{font-size:30px;line-height:70px;}
.six .top p{font-size:16px;line-height:26px;margin-bottom:73px;color:#7f7f7f;}
.six .bot{padding-bottom:159px;}
.six .bot a{width:201px;height:432px;float:left;background:#fff;margin-right:29px;padding:0 31px;position:relative;top:0;box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);transition:all 0.5s}
.six .bot a:hover{top:-3px;box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);}
.six .bot .last{margin-right:0px;}
.six .bot a h4{line-height:75px;font-size:13px;text-transform:uppercase;color:#888f94}
.six .bot .mid_txt{height:121px;font-size:72px;color:#6d6d6d;}
.six .bot .mid_txt i{font-size:30px;font-style:normal; position:relative;top:-18px;}
.six .bot .mid_txt span{display:block;font-size:13px;text-transform:uppercase;color:#92989c;}
.six .bot p{line-height:25px;font-size:16px; color:#7f7f83;margin-bottom:31px;}
.six .bot .sbtn{width:125px;height:46px;background:#5bc0de;border-radius:30px;display:inline-block;line-height:46px;color:#fff;}
.six .bot .third h4{line-height:24px;padding-top:27px;}
.six .bot .third h4 span{display:block;line-height:24px;color:#d5d8db;}
.six .bot .third .mid_txt{color:#27e1ce;}
.six .bot .third .sbtn{background:#27e1ce}
.seven{background:url(../images/slide_2.jpg) no-repeat;background-attachment:fixed;height:318px;text-align:center;}
.seven h3{font-size:24px;color:#fff;line-height:81px;height:81px;padding-top:80px;}
.seven a{padding:0 22px;height:43px;line-height:43px;display:inline-block;border-radius:30px;font-size:16px;color:#fff; transition:all 0.3s; position:relative;border:2px solid #27e1ce;}
.seven a i{position:absolute;right:19px;top:0;line-height:43px; opacity:0;transition:all 0.3s;}
.seven a:hover{padding-right:50px;background:#27e1ce;}
.seven a:hover i{opacity:1;}

